<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/header')%>
</head>
<body>
    <%- include ('partials/navigation') %>
    <div class="container p-4">
        <form method="POST" action="/edit/:id" class="card card-body">
            <div class="form-group">
                <label for="id"><h3><%=Ebooks.id%></h3></label><br>
                <label for="title">title</label>
                <input type="text" class="form-control" name="title" placeholder="Agrege el titulo" value="<%= Ebooks.title %>" required>
                <input type="hidden" id="id" name="id" value="<%= Ebooks.id %>">
            </div>
            <div class="form-group">
                <label for="site">Site</label>
                <input type="url" class="form-control" name="site" placeholder="Agrege el url" value="<%= Ebooks.site %>" required>
            </div>
            <div class="form-group">
                <label for="title">Description</label>
                <textarea name="description" id="description" rows="4" class="form-control" required><%= Ebooks.description %></textarea>
            </div>
            <input type="submit" value="Edit URL" class="btn btn-primary">
        </form>
    </div>
</body>
</html>